
body {
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;   
}
.myName{
    float: left;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
	text-align: center;
	color: #EDF3F2;	
}
nav li { 
    display: inline-block; 
	color: #777777;        
}
aside li { 
    display: inline-block;    
}
nav {   
    text-align: center;      
    float: right;       
}
header{       
    overflow: auto;   
}
section {   
    float: left;	
}
article {
    float: left;
	color: #777777;	    
}
img {    
    height: 150px;
    width: 150px;
    margin: 0 20px 10px 0;
}
footer {
    clear: both;
    text-align: center;
    background-color: #666666;
	color: #dddddd;        
    border-top: 10px solid #4aaaa5;
}
aside{
    float: left;     
	background-color: #ffffff;   
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
#imgWrap{
    float: left;
}
h1 {
    color: #4aaaa5; 
    border-bottom: 1px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h2{    
    color: #4aaaa5;
	border-bottom: 1px solid #dddddd;
    font-family: 'Georgia', Times, Times New Roman, serif;      
}
#mainContentDiv{
    border-top: 1px solid #dddddd;   
    background-image: url("../../assets/images/bg.png");
    background-repeat: repeat;    
    height: 100%;    
    overflow: auto;
}
a {        
    color: #777777;
    text-decoration: none;
}
.txtboxFrmt{   
	width: 99%;
}
#sButton{   
    background-color: #4aaaa5;    
    color: #EDF3F2;
}
#sButton:hover{
	/*border: 2px solid #008000;
	font-weight: bold;*/
		
}
#txtAreaFrmt{
        width: 99%;	
        resize: none;
}
#hmDiv, #rpgDiv, #trDiv, #widDiv, #rpsDiv, #csDiv {	    	
	background-repeat: no-repeat;
    background-position: center;
	overflow: hidden;
	text-align: center;
    float: left;	
}
#hmDiv:hover, #rpgDiv:hover, #trDiv:hover, #widDiv:hover, #rpsDiv:hover, #csDiv:hover {
	/*background-size: 195px 145px;*/
}

#hmDiv { background-image: url("../../assets/images/hangman.jpg"); }
#rpgDiv { background-image: url("../../assets/images/rpg.jpg"); }
#trDiv { background-image: url("../../assets/images/trivia.jpg"); }
#widDiv { background-image: url("../../assets/images/phones.png"); }
#rpsDiv { background-image: url("../../assets/images/rpc.jpg"); } 
#csDiv { background-image: url("../../assets/images/coming_soon.jpg"); }

.sectionDivs {
	background-color: #4aaaa5;    
    font-weight: bold;    
    text-align: center;
    color: #EDF3F2;
	position: relative;	    
}
.blocks {
	display: inline-block;	
}
header a:hover {
	 text-decoration: underline;	
}
::placeholder{
    color: #d3d3d3;
}
